<nav class="crm-nav">
    <NavLink class="crm-nav-link" href="/dashboard" Match="NavLinkMatch.All">
        <span class="material-symbols-outlined">dashboard</span>
        <span>Dashboard</span>
    </NavLink>

    <NavLink class="crm-nav-link" href="/companies">
        <span class="material-symbols-outlined">apartment</span>
        <span>Companies</span>
    </NavLink>

    <NavLink class="crm-nav-link" href="/contacts">
        <span class="material-symbols-outlined">person</span>
        <span>Contacts</span>
    </NavLink>

    <NavLink class="crm-nav-link" href="/opportunities">
        <span class="material-symbols-outlined">ads_click</span>
        <span>Opportunities</span>
    </NavLink>

    <NavLink class="crm-nav-link" href="/notes">
        <span class="material-symbols-outlined">sticky_note_2</span>
        <span>Notes</span>
    </NavLink>

    <NavLink class="crm-nav-link" href="/tickets">
        <span class="material-symbols-outlined">business_center</span>
        <span>Tickets</span>
    </NavLink>

    <NavLink class="crm-nav-link" href="/activities">
        <span class="material-symbols-outlined">calendar_month</span>
        <span>Activities</span>
    </NavLink>

    <NavLink class="crm-nav-link" href="/logs">
        <span class="material-symbols-outlined">list_alt</span>
        <span>Logs</span>
    </NavLink>

    <NavLink class="crm-nav-link" href="/settings">
        <span class="material-symbols-outlined">settings</span>
        <span>Settings</span>
    </NavLink>
</nav>