@inherits LayoutComponentBase

<div class="unauthorized-layout">
    <div class="unauthorized-layout__background">
        <div class="unauthorized-layout__card">
            <div class="unauthorized-layout__brand">
                <div class="unauthorized-layout__brand-icon">
                    <span class="material-symbols-rounded">hub</span>
                </div>

                <div>
                    <div class="unauthorized-layout__brand-name">HallCRM</div>
                    <div class="unauthorized-layout__brand-subtitle">Simple CRM management</div>
                </div>
            </div>

            <main>
                @Body
            </main>
        </div>
    </div>
</div>